node_modules/
.env
.DS_Store
.gitkeep

# Server build
server/build/
server/dist/
server/coverage/

# Client build
client/.next/
client/out/
client/build/
client/coverage/
*.tsbuildinfo
create-issues.js
temp_issue_body.md
